.user-position-sprite {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: blue;
    border: 2px solid white;
    color: white;
    font-size: 20px;
    text-align: center;
    z-index: 11;
}

ngui-map {
    z-index: 10;
    width: 100%;
    height: 100%;
    min-height: 300px;
}

.pokemon-image {
    img {
        width: 45px;
        height: 45px;
    }
}

#mapContainer {
    padding: 0;
    margin: 0;
}

.mapContainer {
    border-radius: 25px;
    overflow: hidden;
    height: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.pokeball img {
    width: 55px;
    height: auto;
}