<div class="modal-header">
    <h1>Select Pokemon</h1>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
  <span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
    <input type="text" class="form-control" placeholder="Search Pokemon..." (keyup)="searchPokemon($event)">
    <virtual-scroller #scroll [items]="pokemonsList">
        <app-pokemon-item *ngFor="let pokemon of scroll.viewPortItems" [pokemon]="pokemon">
        </app-pokemon-item>

    </virtual-scroller>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>