<div class="container-fluid ">
    <div class="row mainContainer">
        <div class="col-md-6" id="mapContainer">
            <app-map-component></app-map-component>
        </div>
        <div class="col-md-6 addPokemonContainer">
            <app-pokemons-add></app-pokemons-add>
            <app-pokemon-clear></app-pokemon-clear>
            <app-music-button></app-music-button>
            <app-pokemons-added-list></app-pokemons-added-list>
        </div>
    </div>
</div>

<!--             
-->