.homeContainer {
    text-align: center;
    height: 100%;
    .welcomeTextContainer {
        padding-top: 25px;
        #title {
            font-size: 75px;
            color: yellow;
        }
        #subtitle {
            color: #ffcb04;
            text-shadow: 0 0 4px blue;
        }
        padding-bottom: 25px;
    }
}